<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saude do arquivo</title>
</head>
<body>
<h1>Saúde do arquivo {{ arquivo }} </h1>

<table border="1">
    <tr>
        <th>Bucket</th>
        {% for parte in range(num_partes) %}<th>{{ loop.index0 }}</th>{% endfor %}
    </tr>
    {% for bucket in rows %}
    <tr>
    <td>{{ bucket["bucket"] }}</td>
        {% for parte in range(num_partes) %}<td>{% if bucket["partes"][parte] == 3 %}X{% elif bucket["partes"][parte] == 2 %}!{% else %}&nbsp;{% endif %}</td>{% endfor %}
    </tr>
    {% endfor %}
</table>
<p>Clique <a href="/repair/{{ arquivo }}">aqui</a> para iniciar o reparo do arquivo</p>
</body>
</html>
